.img-slide
{
	width:100%;
	height:80vh;
}
img.logo{
	width: 4rem;
}
a.navbar-brand{
	width: 5vw;

}
.navbar-dark .navbar-text a{
	color:#000000;
}

@media (min-width: 992px) {
	img.logo{
		width: 4vw;
	}
}
@media (min-width: 1200px){
	img.logo{
		width: 4vw;
	}
}
nav.navbar{
	background-color: #ffffff!important;
}
@media (max-width: 768px) {
	.img-slide
	{
		width:100%;
		height:50vh;
	}	
}
.jumbotron {
    padding: 3rem 2rem;
}
p.display-6{
	margin-top: 16px!important;
	margin-bottom: 16px!important;
}
hr.style4 {
	border-top: 1px dotted #8c8b8b;
}
/*.display-3{
		font-size: 2.5rem!important;
}*/
@media screen and (min-width:300px) and (max-width:778px){
	.display-3{
		font-size: 2.5rem;
	}
}
@media screen and (min-width:779px) and (max-width:1050px){
	.display-3{
		font-size: 3rem;
	}
}
.contact-bar{
	display: none;
}

/*disoriented "contact us" link*/
@media screen and (min-width:992px) and (max-width:1106px){
	.con{
		display: none;
	}
}
/*divider styles*/
.divide
{
	display: block;
	/*margin-top: 2vh;*/
	height: 1px;
}

.divide-trans
{
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.jumbotron{
	margin-bottom: 0!important;
	padding-bottom: 1rem;
}
.wel-sec{
	background-color: #e9ecef;
	margin-bottom: 0!important;
	padding-bottom: 1rem;
}
.welcome-head{
	padding-top: 1.2rem!important;
	margin-bottom: 1rem!important;
}